body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #B6DAEA;
    color: #82e3e3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title a {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0dc;
    margin: 20px;
}
.container {
    max-width: 600px;
    background-color: #B6DAEA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #2EA9E1;
    color: rgba(255, 255, 255, 0.781);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
footer {
    background-color: #B6DAEA;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px; /* Añade espacio entre el último contenido y el footer */
    position: relative;
}
footer p {
    margin: 10px 0;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}