/* Estilos generales del body y header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #B6DAEA;
    color: #82e3e3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title a {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.hero {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.hero img {
    width: 100%;
    height: none;
    display: 64px;
    margin: 0 auto; 
}
.yuta {
    position: relative;
    text-align: center;
    margin-top: 20px;
    padding-left: 100px;
}

.yuta img {
    width: 80%;
    height: none;
    display: 900px;
    margin:  px; 
}
.vision {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.vision img {
    width: 80%;
    height: none;
    display: 64px;
    margin: 0 auto; 
}
footer {
    background-color: #B6DAEA;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px; 
    position: relative;
}
footer p {
    margin: 10px 0;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

















   
   








































































